*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "helvetica neue", Arial, Helvetica, sans-serif;
}

.body{
  text-decoration: none;
  background-color: #FDFBF7;
  color: #004E64;
  line-height: 1.6;
}

/*############################### header ###############################*/
.contenedorMenu{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004E64;
}

.menu{
  display: flex;
  gap: 75px;
}

.menu a{
  color: #ffffff;
  text-decoration: none;
  margin-right: 15px;
  font-size: 20px;
  font-weight: bold;
}

.menu a:hover,
.menu a:active,
.menu a:focus{
color: black;
}

.menu a.activo{
  color: black;
}

/*############################### ofertas ###############################*/

h2 {
  color: #00755C;
  margin: 20px 0;
  text-align: center;
}

.contenedorOfertas{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contenedorOfertas > div > img{
  display: block;
  margin: 0 auto;
}

h3 a {
  color: #004E64;
  text-decoration: none;
}

h3 a:hover {
  color: black;
}

/*############################### cards ###############################*/

.contenedorMain{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap : 20px;
}
.contenedorMain > div{
  flex : 1;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.contenedorMain > div> img{
  width: 150px;
  height: 100px;
}

/*############################### footer ###############################*/

.contenedorFooter {
  background-color: #004E64;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.contenedorFooter > div {
  flex: 1;
  max-width: 400px;
  padding: 15px;
  box-sizing: border-box;
}
